{% extends "templates/ad_nav.twig" %}

{% block body %}

<div class="mainn">
  <div class = "flex1">
  <div class="subflex1"><h1>Hello, {{session.username_ad}} !!</h1></div>
  <div class="subflex2">Find your Admin dashboard here.. :)</div>
  </div>
</div>

{% endblock %}
