<!DOCTYPE html>
<html lang="en">

  <head>
    {% include("templates/head.twig") %}
    <title>
    {% block title %}{% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/styles/nav.css">
    {% block css %}{% endblock %}
    <title>Sign in</title>
  </head>


<header>  
<nav>  
  <nav class="navMenu">
    <a href="../home">Home</a>
    <a href="../allbooks">All Books</a>
    <a href="../issue_history">Issue History</a>
    <a href="../logout">Logout</a>
    <div class="dot"></div>
  </nav>
</nav>  
</header>

  <body>
    {% block body %}{% endblock %}
  </body>

</html>
  