{% extends "templates/base.twig" %}

{% block title %}My website home{% endblock %}

{% block body %}

<h1>You are not a admin.</h1>

<form action="/login" method="GET">
  <input type="loginbtn" name="loginbtn" value= 'Random' style="display:none;">
  <input type="submit" value="login">
</form>

{% endblock %}
