.heading{
    align-items: center;
    padding-left: 11em;
    padding-bottom: .4em;
}
.smolltext{
    align-items:center;
}
.mainn{
    padding: 10em;
    padding-top: 15em;
}
.logoutbtn{
    align-content: center;
}