@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #76b852;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
    padding-top: 2em;
  position: absolute;
  left: 40%;
  /* transform: translate(-50%, -50%); */
}

.navMenu a {
  color: black;
  text-decoration: none;
  font-size: 1.1em;
  /* text-transform: uppercase; */
  font-weight: 500;
  display: inline-block;
  width: 80px;
  /* -webkit-transition: all 0.2s ease-in-out; */
  /* transition: all 0.2s ease-in-out; */
}

.navMenu a:hover {
  color: #cfe928;
}

.navMenu .dot {
  width: 6px; /* gives width and height to the pixel */
  height: 6px;
  background: #cfe928; 
  border-radius: 50%; /*makes it a circle*/
  opacity: 0; /* by default under home, so making it opaque when not hovering*/
  /* -webkit-transform: translateX(30px); */
  /* transform: translateX(30px); */
  /* -webkit-transition: all 0.2s ease-in-out; */
  /* transition: all 0.2s ease-in-out; */
}

/* Now when hovered over first child, changes to dot are as follows */
.navMenu a:nth-child(1):hover ~ .dot {
  /* -webkit-transform: translateX(30px); */
  transform: translateX(30px);
  /* -webkit-transition: all 0.2s ease-in-out; */
  transition: all 0.2s ease-in-out; /* Transition of the dot */
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  /* -webkit-transform: translateX(110px); */
  transform: translateX(110px);
  /* -webkit-transition: all 0.2s ease-in-out; */
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  /* -webkit-transform: translateX(200px); */
  transform: translateX(200px);
  /* -webkit-transition: all 0.2s ease-in-out; */
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
/*   -webkit-transform: translateX(285px); */
  transform: translateX(285px);
/*   -webkit-transition: all 0.2s ease-in-out; */
/*   transition: all 0.2s ease-in-out; */
  opacity: 1;
}

